@media (max-width: 445px) {
    .hamburger-menu-container {
        transform: translateX(-50px);
    }

    #check {
        transform: translateX(-30px);
    }
}

@media (max-width: 400px) {
    .hamburger-menu-container {
        transform: translateX(-100px);
    }

    #check {
        transform: translateX(-80px);
    }
}

@media (max-width: 350px) {
    .hamburger-menu-container {
        transform: translateX(-130px);
    }

    #check {
        transform: translateX(-110px);
    }
}